
@{
    ViewBag.Title = "AuthFailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sign up failed</h2>

<div>
    <label>Oooops! Something went wrong!</label>
</div>
<div>
    <label>Probably username you have entered is already taken</label>
</div>
