
@{
    ViewBag.Title = "SignInFailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sign in failed</h2>

<div>
    <label>Oooops! Something went wrong!</label>
</div>
<div>
    <label>Probably you have put wrogn username or password</label>
</div>