@model ToDoList.ViewModels.BaseViewModel
@{
    ViewBag.Title = "SignInSucceed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SignIn Succeed !</h2>


<h4>Now you are logged in and can manage your ToDo Lists!</h4>