<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

    <configSections>
      <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    </configSections>

    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity" />

    <container>
      <register type="ToDoList.Buisses.Interfaces.IAuthManager, ToDoList.Buisses" mapTo="ToDoList.Buisses.AuthManager, ToDoList.Buisses" />
      <register type="ToDoList.Buisses.Interfaces.ISessionManager, ToDoList.Buisses" mapTo="ToDoList.Buisses.SessionManager, ToDoList.Buisses" />
      <register type="ToDoList.Buisses.Interfaces.ITaskManager, ToDoList.Buisses" mapTo="ToDoList.Buisses.TaskManager, ToDoList.Buisses" />
      <register type="ToDoList.Buisses.Interfaces.IListManager, ToDoList.Buisses" mapTo="ToDoList.Buisses.ListManager, ToDoList.Buisses" />
      <register type="ToDoList.Console.Constrollers.IBaseController, ToDoList.Console" mapTo="ToDoList.Console.Constrollers.BaseController, ToDoList.Console" />
    </container>
  
</configuration>